<div class="row">
  <div class="col-lg-2">
    <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
      <ul class="affix-ul">
        <% PostCategory.order(:name).each do |cat| %>
          <li><%= link_to cat.name, recommendations_path(anchor: cat.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-lg-10">
    <h1>Recommendations</h1>

    <% @recommendations.each_pair do |id, grouping| %>

      <h2 id="<%= id %>"><%= PostCategory.find(id).name %></h2>

      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Retailer</th>
            <th>Feature One</th>
            <th>Feature Two</th>
            <th>Feature Three</th>
            <th>Link</th>
          </tr>
        </thead>

        <tbody>
          <% grouping.each do |recommendation| %>
            <tr>
              <td><%= image_tag recommendation.picture_url, class: 'rec-index-pic' %></td>
              <td><%= recommendation.title %></td>
              <td><%= recommendation.retailer %></td>
              <td><%= recommendation.feature_one %></td>
              <td><%= recommendation.feature_two %></td>
              <td><%= recommendation.feature_three %></td>
              <td><%= link_to 'Link', recommendation.url  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <br>
  </div>
</div>