<div class="sidebar">
	<h4>POPULAR POSTS</h4>

	<% Post.most_popular.each do |post| %>
		<a href="<%= post_path(post) %>" class="sidebar-popular" >
      <%= image_tag "/assets/#{post.thumb_image_url}" %> 
      <span class="sidebar-title"><%= post.title %></span><br>
      <span class="sidebar-meta"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Stuart Morris</span><br>
      <span class="sidebar-meta"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span><span class="sidebar-meta"> <%= post.thumbs_up %></span><span class="sidebar-meta"> | </span>
      <span class="sidebar-meta"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></span><span class="sidebar-meta"> <%= post.thumbs_down %></span>
    </a>
	<% end %>

	<h4>COMPARE CAMPING GEAR</h4>

	<ul class="menu-list">
		<% Category.all.order(:name).each do |category| %>
			<% if category.gears.count > 10 %>
				<li><%= link_to "#{category.name} (#{category.gears.count})", category %></li>
			<% end %>
		<% end %>
	</ul>

	<h4>BLOG POST CATEGORIES</h4>

	<ul class="menu-list">
		<% PostCategory.all.order(:name).each do |category| %>
			<li><%= link_to "#{category.name} (#{category.posts.count})", category %></li>
		<% end %>
	</ul>
</div>