<div class="col-sm-7 col-xs-12 col-sm-offset-1">

  <div class="wp-content-container">
    <div class="post-title">
      <%= image_tag 'wp-me.jpg', alt: 'Stuart in the Mountains', class: 'wp-pic' %>
      <div class="post-info">
        <h1 itemprop="headline"><%= post.title %></h1>
        <p class="post-meta"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> By Stuart Morris</p>
        <% if post.class.name == "Post" %>
          <p class="post-meta"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= link_to post.post_category.name, post.post_category %></p>
        <% end %>
      </div>
      <div class="wp-thumb-votes">
        <span class="thumb-el"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
        <span class="thumb-el"><%= post.thumbs_up %></span>
        <span class="thumb-el"> | </span>
        <span class="thumb-el"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></span>
        <span class="thumb-el"><%= post.thumbs_down %></span>
      </div>
    </div>

    <% if post.class.name == "Post" && [1, 2, 6, 9, 10, 11, 14].include?(post.post_category_id.to_i) %>
      <div class="well">
        <%= link_to "Compare", category_path(post.post_category) %> the <b><%= Category.find_by_name(post.post_category.name).gears.count %> <%= post.post_category.name %></b> on Ten Pound Backpack based on their weight, price and a few more features as well.
      </div>
    <% end %>
    <div class="wp-content" itemprop="articleBody">
      <%= post.formatted_content %>
    </div>

  </div>


  <!-- ////////////////////////////////////////////////////////// -->


  
</div>

<div class="col-sm-3 xs-hidden">
  <%= render 'shared/sidebar' %>
</div>