<% provide(:title, @page.meta_title) %>
<% provide(:desc, @page.meta_desc) %>
<% content_for :canonical, page_url(@page) %>

<div itemscope itemtype="http://schema.org/BlogPosting">

  <meta itemprop="datePublished" content="<%= @page.created_at %>">
  <meta itemprop="author" content="Stuart Morris">

  <div class="container-fluid wp-title-container">
    <div class="row">
      <div class="col-lg-12 wp-title">
        <h1 itemprop="headline"><%= @page.title %></h1>
        <p>by Stuart Morris</p>
        <div class="wp-thumbs">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <%= @page.thumbs_up %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <%= @page.thumbs_down %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wp-content" itemprop="articleBody">
          <%= @page.formatted_content %>
          <br>
          <br>
        </div>
      </div>  
    </div>
  </div>
</div>

<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'page', 'avantlink_click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script>