<% provide(:title, 'Camping Gear Search') %>

<div class="row">
	<div class="col-lg-12 search-title">
	  <h1>Gear Search</h1>
	</div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 center">
  	<%= form_tag search_path, method: 'get', class: 'form-inline inline-search-page' do %>
      <div class="form-group">
	      <%= text_field_tag :q, params[:q], class: 'form-control' %>
      </div>
  	  <%= submit_tag "Search", name: nil, class: 'btn btn-primary gear-search-btn' %>
  	<% end %>
	</div>
</div>

<% if @results.present? %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
     	<table class="results-table">
     	  <% @results.each do |result| %>
     	    <tr class="result">

     	      <td class="picture-td">
   	          <% if result['Thumbnail_Image'].present? %>
   	            <%= link_to image_tag(result['Thumbnail_Image'], alt: "#{pretty_name(result)}", class: 'results-image'), result['Buy_URL'], rel: 'nofollow', target: '_blank', onclick: "trackOutboundLink('#{result['Buy_URL']}'); return false;" %>
   	          <% else %>
   	            <%= image_tag 'default.jpg', alt: "#{pretty_name(result)}", class: 'results-image' %>
   	          <% end %>
     	      </td>

     	      <td class="info-td">
     	        <%= link_to pretty_name(result), result['Buy_URL'], rel: 'nofollow', target: '_blank', class: 'results-link', onclick: "trackOutboundLink('#{result['Buy_URL']}'); return false;" %>
     	        <br>
     	        <span class="results-categories">
     	          <%= result['Department_Name'] if result['Department_Name'].present? %>
     	          <% if result['Category_Name'].present? %>
     	            <span class="cat-pointer">></span> <%= result['Category_Name'] %>
     	          <% end %>
     	          <% if result['Subcategory_Name'].present? %>
     	            <span class="cat-pointer">></span> <%= result['Subcategory_Name'] %>
     	          <% end %>
     	        </span>
     	        <%= content_tag :p, truncate(result['Abbreviated_Description'], :length => 150, :omission => " ..."), class: 'results-desc' %>
     	        <% if result['Sale_Price'] == result['Retail_Price'] %>
     	          <%= link_to result['Retail_Price'], result['Buy_URL'], rel: 'nofollow', target: '_blank', class: 'results-sale-price', onclick: "trackOutboundLink('#{result['Buy_URL']}'); return false;" %>
     	        <% else %>
     	          <%= content_tag :p, result['Retail_Price'], class: 'results-retail-price' %>
     	          <%= link_to result['Sale_Price'], result['Buy_URL'], rel: 'nofollow', target: '_blank', class: 'results-sale-price', onclick: "trackOutboundLink('#{result['Buy_URL']}'); return false;" %>
     	        <% end %>
     	        <%= content_tag :p, "from #{content_tag :span, merch_name(result), class: 'merchant'}".html_safe, class: 'results-merch-name' %>
     	      </td>
     	    </tr>
     	  <% end %>
     	</table>
    </div>  
  </div>

<% else %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="well center">
        Oops, looks there aren't any results for that search term. Don't give up now though! Try searching for something else...
      </div>
    </div>
  </div>

<% end %>



<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'search', 'avantlink_click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script>