<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>
	  <meta name="description" content="<%= meta_desc(yield(:desc)) %>" />
	  <link rel="canonical" href="<%= yield(:canonical) %>" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="alternate" type="application/rss+xml" title="Ten Pound Backpack RSS Feed" href="http://www.tenpoundbackpack.com/feed?format=rss">


	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <% unless user_signed_in? %>
		  <script>
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		    ga('create', 'UA-838194-6', 'auto');
		    ga('send', 'pageview');

		    function _gaLt(event) {

		        /* If GA is blocked or not loaded, or not main|middle|touch click then don't track */
		        if (!ga.hasOwnProperty("loaded") || ga.loaded != true || (event.which != 1 && event.which != 2)) {
		            return;
		        }

		        var el = event.srcElement || event.target;

		        /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
		        while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)) {
		            el = el.parentNode;
		        }

		        /* if a link with valid href has been clicked */
		        if (el && el.href) {

		            var link = el.href;

		            /* Only if it is an external link */
		            if (link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)) {

		                /* Is actual target set and not _(self|parent|top)? */
		                var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;

		                /* Assume a target if Ctrl|shift|meta-click */
		                if (event.ctrlKey || event.shiftKey || event.metaKey || event.which == 2) {
		                    target = "_blank";
		                }

		                var hbrun = false; // tracker has not yet run

		                /* HitCallback to open link in same window after tracker */
		                var hitBack = function() {
		                    /* run once only */
		                    if (hbrun) return;
		                    hbrun = true;
		                    window.location.href = link;
		                };

		                if (target) { /* If target opens a new window then just track */
		                    ga(
		                        "send", "event", "Outgoing Links", link,
		                        document.location.pathname + document.location.search
		                    );
		                } else { /* Prevent standard click, track then open */
		                    event.preventDefault ? event.preventDefault() : event.returnValue = !1;
		                    /* send event with callback */
		                    ga(
		                        "send", "event", "Outgoing Links", link,
		                        document.location.pathname + document.location.search, {
		                            "hitCallback": hitBack
		                        }
		                    );

		                    /* Run hitCallback again if GA takes longer than 1 second */
		                    setTimeout(hitBack, 1000);
		                }
		            }
		        }
		    }

		    var _w = window;
		    /* Use "click" if touchscreen device, else "mousedown" */
		    var _gaLtEvt = ("ontouchstart" in _w) ? "click" : "mousedown";
		    /* Attach the event to all clicks in the document after page has loaded */
		    _w.addEventListener ? _w.addEventListener("load", function() {document.body.addEventListener(_gaLtEvt, _gaLt, !1)}, !1)
		        : _w.attachEvent && _w.attachEvent("onload", function() {document.body.attachEvent("on" + _gaLtEvt, _gaLt)});

		  </script>
	  <% end %>
	<body>

		<%= render 'shared/header' %>
		<div class="container-fluid">
				<%= yield %>
		</div>	

		<script type="text/javascript">
			ouibounce(false, {
        callback: function() {
          $('#newsletter-modal').modal('show');
        }
		  });
		</script>

		<div class="modal fade" id="newsletter-modal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Don't Miss This Opportunity!</h4>
		      </div>
		      <div class="modal-body">
		        <p>Camping gear and clothing is expensive isn't it? We think so too. But it doesn't have to be!</p>
		        <p>Enter your email address below, and when we see a great piece of gear on sale for a great price we'll send you an email.</p>
		        <!-- Begin MailChimp Signup Form -->
		        <div id="mc_embed_signup">
			        <form action="//tenpoundbackpack.us11.list-manage.com/subscribe/post?u=c41f921ac1d23d7ddeb222cb0&amp;id=038630fc36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		            <div id="mc_embed_signup_scroll">
					        <div class="mc-field-group">
					        	<input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
					        </div>
				        	<div id="mce-responses" class="clear">
				        		<div class="response" id="mce-error-response" style="display:none"></div>
				        		<div class="response" id="mce-success-response" style="display:none"></div>
				        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			            <div style="position: absolute; left: -5000px;">
			            	<input type="text" name="b_c41f921ac1d23d7ddeb222cb0_038630fc36" tabindex="-1" value="">
		            	</div>
			            <div class="clear">
			            	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
		            	</div>
		            </div>
			        </form>
		        </div>

		        <!--End mc_embed_signup-->
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>
